.App {
  text-align: center;
}
nav{
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-flow: row nowrap;
  background-color: black;
}

.headerName{
  width: 45%;
}

.nav{
  display: flex;
  width: 45%;
  flex-flow: row nowrap;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.avengerBlock{
  width: 45%;
  padding: 5% 0;
}

.avengerList{
  display: flex;
  width: 90%;
  flex-flow: column;
}

.test{
  display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-flow: row wrap;
}

.navlink{
  padding: 1% 5%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.AvengerBlock img {
  width: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
